.product_container
  margin: 10px auto
  display: flex
  flex-direction: column
  max-width: 900px
  gap: 10px

.product_card
  display: flex
  flex-direction: column
  background: #fff
  padding: 2%
  & h1:first-letter,
  & p:first-letter
    text-transform: capitalize
  &__container_img
    max-width: 900px
    max-height: 900px
  &__img
    max-width: 100%
    max-height: 100%
  &__price
    color: #3a3a3a
    font-weight: bold
    font-size: 42px
    align-self: center
  &__buy_container
    align-self: center

.comment_list_container
  display: flex
  flex-direction: column
  gap: 5px
  &__is_not_auth
    background: #fff
    text-align: center
.loader_container
  display: flex
  margin: 10px auto 0
  max-width: 100%
  background: #fff
  // height: 60vw
