$orange: #fda23a
$gray: #535353

*
  box-sizing: border-box

html
  height: 100%
  @media screen and (min-width: 767px)
    margin-right: calc(-1 * (100vw - 100%))
    padding-right: 15px
    overflow-x: hidden

body
  background: #f6f6f6
  color: $gray
  overflow-y: visible
  height: 100%
  margin: 0
#root
  min-height: 100%
  display: flex
  flex-direction: column

.btn_design
  border: 1px solid #ddd
  padding: 5px 9px
  background: $orange
  color: #3a3a3a
  box-shadow: 2px 2px 4px rgba(0,0,0,.25)
  font-size: 17px
  font-weight: bold
  white-space: nowrap
  &:hover
    background-color: #ffe3b0
    cursor: pointer
  &:disabled, &_disabled
    background: gray
    cursor: not-allowed

.btn_animate
  border: none
  width: 100px
  height: 30px
  overflow: hidden
  padding: 0
  z-index: 1
  position: relative
  line-height: 21px
  vertical-align: middle
  &:active .animation-click
    visibility: visible
    transform: scale(1, 1)
    background: #eeeeee
    transition: background 1s ease-out, transform 1s ease-out

.animation-click
  visibility: hidden
  background: #3a95fd
  position: absolute
  border-radius: 50%
  transform: scale(.2, .2)
  z-index: -1

a
  color: $gray
  &:hover
    color: $orange
ul
  padding-left: 0

.load, button.load:disabled
  background: repeating-linear-gradient(-45deg, #3a95fd, #3a95fd 25px, #fda23a 25px, #fda23a 50px) fixed
  animation: load 1s linear infinite
@keyframes load
  0%
    background-position: 0px
  100%
    background-position: 71px
