$orange: #fda23a
$gray: #535353

*
  box-sizing: border-box

html
  height: 100%
  @media screen and (min-width: 767px)
    margin-right: calc(-1 * (100vw - 100%))
    padding-right: 15px
    overflow-x: hidden

body
  background: #f6f6f6
  color: $gray
  overflow-y: visible
  height: 100%
  margin: 0
#root
  min-height: 100%
  display: flex
  flex-direction: column

.btn_design
  border: 1px solid #ddd
  padding: 5px 9px
  background: $orange
  color: #3a3a3a
  box-shadow: 1px 1px 1.5px 0.5px #eee
  font-size: 17px
  white-space: nowrap
  &:hover
    background-color: #ffe3b0
    cursor: pointer
  &:disabled, &_disabled
    background: gray
    cursor: not-allowed

a
  color: $gray
  &:hover
    color: $orange
ul
  padding-left: 0

.load, button.load:disabled
  background: repeating-linear-gradient(-45deg, #3a95fd, #3a95fd 25px, #fda23a 25px, #fda23a 50px) fixed
  animation: load 1s linear infinite
@keyframes load
  0%
    background-position: 0px
  100%
    background-position: 71px
