body
  background: #f6f6f6

.btn_design
  border: 1px solid #ddd
  padding: 5px 9px
  background: #ffc967
  color: #3a3a3a
  box-shadow: 1px 1px 1.5px 0.5px #eee
  font-size: 17px
  white-space: nowrap
  &:hover
    background-color: #ffe3b0
    cursor: pointer
