.item_cart
  display: flex
  background: white
  margin-bottom: 10px
  border-radius: 4px
  align-items: center

  & > *
    margin-right: 10px

  &__container_img
    display: flex
    align-items: center
    width: 50px
    padding: 5px

  &__img
    max-width: 100%

  & h3:first-letter
    text-transform: capitalize

  &__name
    margin-right: auto

  &__amount
    width: 30px
  &__button_ammount
    width: 30px
    height: 30px
    &__incr
      border-top-right-radius: 200px
      border-bottom-right-radius: 200px
    &__decr
      border-top-left-radius: 200px
      border-bottom-left-radius: 200px
  &__sum
    width: 60px
  &__button_delete
    background: inherit
    height: 30px
    line-height: 30px
    border: none
    color: red
    font-weight: bold
    font-size: 30px
    cursor: pointer
    vertical-align: middle
    transition: transform 1s
    transform: rotate(45deg)
    &:hover
      transform: scale(1.2) rotate(225deg)
      transition: transform 1s
