.filter
  display: flex
  flex-wrap: wrap
  justify-content: center
  padding: 2%
  flex-basis: 230px
  background: #fff
  gap: 5px
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)
  &__blocks
    display: flex
    flex-direction: column
    @media screen and ( min-width: 1011px )
      display: flex !important
  &__collapse_button
    overflow: hidden
    display: none
    flex-shrink: 0
    width: 35px
    height: 35px
    font-weight: bold
    font-size: 30px
    vertical-align: bottom
    line-height: 45px
    padding: 0
    width: 90%
    &__rotate
      rotate: 180deg

.collapse
  display: none
  &__info
    margin: 0
    vertical-align: middle
    line-height: 35px
    @media screen and ( min-width: 1011px )
      display: none

@media screen and (max-width: 1010px)
  .filter
    flex-basis: 100%
    &__blocks
      flex-grow: 1
      flex-direction: row
      flex-wrap: wrap
      gap: 15px
      justify-content: space-around
    &__collapse_button
      display: block
