.product
  display: flex
  max-width: 800px
  padding: 10px
  border-radius: 5px
  background: #fff
  gap: 7px

  &__img_container
    display: flex
    align-items: center
    justify-content: center
    height: 200px
    min-width: 200px

  &__info_container
    flex-grow: 1

  &__info_container a
    text-decoration: none
    color: rgb(54, 54, 54)

  & h3:first-letter,
  &__description:first-letter
    text-transform: capitalize

  &__img
    max-height: 200px
    max-width: 200px
    box-shadow: inset 0 0 4px #fff

  &__price
    font-size: 30px
    font-weight: 700
    color: #3a3a3a
    white-space: nowrap
    text-align: right

  &__buy_container
    padding-top: 7px
