.item-cart{
  display: flex;
  background: white;
  margin-bottom: 10px;
  border-radius: 4px;
  align-items: center;
}
.item-cart > * {
  margin-right: 10px;
}
.item-cart__container-img{
  display: flex;
  align-items: center;
  width: 50px;
  padding: 5px;
}
.item-cart__img{
  max-width: 100%;
}

.item-cart h3:first-letter{
  text-transform: capitalize;
}
.item-cart__name{
  margin-right: auto;
}
.item-cart__amount{
  width: 20px;
}