.total-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background: white;
  margin-left: auto;
  max-width: 200px;
}
.total-container__sum {
  font-size: 40px;
  margin-left: auto;
}

.total-container__buy {
  border: 1px solid #ddd;
  padding: 5px 9px;
  background: #ffc967;
  color: #3a3a3a;
  box-shadow: 1px 1px 1.5px 0.5px #eee;
  font-size: 17px;
  white-space: nowrap;
  margin-left: auto;
}

.total-container__buy:hover {
  background-color: #ffe3b0;
  cursor: pointer;
}
